*.iml
*.class
.idea/
**/tmp/
**/target/
com.blizzard.wtcg.hearthstone-old/
com.blizzard.wtcg.hearthstone/
releases/
my_assemblies/
*.jar
4pdaUpload.config.js
*.apk
*.dex
**/version.json
